<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformModule" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="java" arguments="-jar app.jar" startupTimeLimit="60" requestTimeout="00:10:00" rapidFailsPerMinute="10" stdoutLogEnabled="true" stdoutLogFile="%home%\LogFiles\stdout.log">
    </httpPlatform>
  </system.webServer>
</configuration>
